  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    background-color: #7583b0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
}
